@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "tailwindcss";
/* 

@font-face {
  font-family: "Arsenica";
  src: url("/src/assets/fonts/ArsenicaTrial-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */


@theme {
    --color-lashwhite: #f7f0ff;
    --color-lashpink: #dfbdf7;
    --color-lashdark: #813ab3;
    --color-lashgold: #c2b59b;
    --color-about: #f3f0fd;
    --color-price: #3a3b3c;
    --color-offwhite: #f2f0ef;

     --font-poppins: Poppins, sans-serif;
     --font-spectral: Spectral, serif;
     /* --font-arsenica: Arsenica, serif;  !!Not a free font!! */

     --hero-bg: url("/img/hero-bg-2.jpg");

     --transition-offerings: scale cursor;
}

html {
  scroll-behavior: smooth;
}

.section-title {
  color: var(--color-lashwhite);
  font-family: var(--font-spectral);
}

.slick-prev:before,
.slick-next:before {
  color: black; /* change to your color */
  font-size: 25px; /* optional */
  opacity: 1; /* slick gives 0.75 by default */
}

.slick-prev:before:hover,
.slick-next:before:hover {
  color: #60a5fa; /* Tailwind sky-400 if you want hover effect */
}




/* 
Fonts:
Arsenica
Poppins
*/